@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-3xl font-extrabold text-primary;
  }

  h2 {
    @apply text-2xl font-extrabold text-primary;
  }

  h3 {
    @apply text-lg font-extrabold text-primary;
  }

  h4 {
    @apply text-base font-extrabold text-primary;
  }

  .body {
    @apply text-base font-medium text-secondary;
  }

  .body-medium {
    @apply text-sm font-medium text-secondary;
  }

  .body-small {
    @apply text-xs font-medium text-secondary;
  }

  .overline {
    @apply text-base uppercase font-medium text-secondary;
  }

  .overline-small {
    @apply text-xs uppercase font-medium text-secondary;
  }
}
