@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-3xl font-extrabold text-primary;
  }

  h2 {
    @apply text-2xl font-extrabold text-primary;
  }

  h3 {
    @apply text-lg font-extrabold text-primary;
  }

  h4 {
    @apply text-base font-extrabold text-primary;
  }

  .body {
    @apply text-base font-medium text-secondary;
  }

  .body-medium {
    @apply text-sm font-medium text-secondary;
  }

  .body-small {
    @apply text-xs font-medium text-secondary;
  }

  .overline {
    @apply text-base uppercase font-medium text-secondary;
  }

  .overline-small {
    @apply text-xs uppercase font-medium text-secondary;
  }

  .body-bold {
    @apply text-base text-white font-bold;
  }
}

.custom-spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 1);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite;
}
